.video {
    background-color: #222222;
    padding: 0 20px;
    font-family: "Archivo", sans-serif;
    color: white;
    margin-top: 65%;
    text-align: left;

    &--subtitle {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2.799999952316284px;
        color: #BDAC8D;
        padding-top: 4em;
        padding-bottom: 2.5em;
    }

    &--title {
        font-family: "Old Standard TT", serif;
        font-size: 56px;
        font-weight: 400;
        line-height: 60px;
        text-align: left;
        margin-bottom: 0.5em;
    }

    &--text {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #C2C2C2;
        margin-bottom: 2em;
    }

    &--content {
        height: 300px;
        width: 100%;
        background-color: #E6E6E6;
        margin-bottom: 2em;
    }

    &--button {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2.799999952316284px;
        color: white;
        background-color: #BDAC8D;
        padding: 20px 50px;
        margin-bottom: 3em;

        &.query {
            display: none;
        }
    }
}

@media only screen and (min-width:1000px) {
    .video {
        margin-top: 4em;
        display: flex;
        padding: 5em 20em;

        .query {
            padding-right: 7em;

        }

        &--content {
            height: auto;
        }

        &--button {
            display: none;

            &.query {
                display: block;
            }
        }
    }
}