@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Cutive&family=Electrolize&family=Gurajada&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Cutive&family=Electrolize&family=Gurajada&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Cutive&family=Electrolize&family=Gurajada&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header__nav {
  display: flex;
  font-family: "Archivo", sans-serif;
  padding: 20px 20px;
  align-items: center;
}
.header__nav__links {
  flex-direction: column;
  display: flex;
  gap: 15px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
}
.header__nav__links.none {
  display: none;
}
.header__nav__links a {
  text-decoration: none;
  color: #111111;
  font-family: Archivo;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.41px;
  font-family: "Archivo", sans-serif;
}
.header__nav--menu {
  margin-right: 40px;
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav__logo, .header__nav__icons {
  display: flex;
  align-items: center;
}
.header__nav__logo {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  font-size: 10px;
  padding: 6px 10px;
  margin-right: 10px;
}
.header__nav__icons {
  margin-left: auto;
  gap: 20px;
}
.header__nav--title {
  font-size: 12px;
  text-transform: uppercase;
}
.header__nav--title h1 {
  font-size: 12px;
}
.header__content {
  background-color: #333333;
  color: white;
  padding: 80px 20px;
}
.header__content h2 {
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 5px;
  padding-right: 80px;
  margin-bottom: 50px;
}
.header__content h1 {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 30px;
}
.header__content__buttons {
  width: 200px;
}
.header__content__buttons .button {
  color: white;
  display: inline-block;
  width: 100%;
  background-color: #333333;
  border: 1px solid #FFFFFF;
  padding: 20px 15px;
  letter-spacing: 3px;
  font-weight: 700;
  font-family: "Archivo", sans-serif;
}
.header__content__buttons .veige {
  background-color: #BEAD8E;
  margin-bottom: 20px;
  border: 1px solid black;
}
.header__form {
  background-color: #222222;
  padding: 40px 20px;
}
.header__form--title {
  color: white;
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.header__form input {
  border: none;
  border-bottom: 1px solid #BEAD8E;
  background-color: transparent;
  color: #686868;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  padding: 10px 0;
  font-size: 20px;
}
.header__form .button {
  color: white;
  background-color: #333333;
  padding: 20px 15px;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
  background-color: #BEAD8E;
  border: none;
  font-family: "Archivo", sans-serif;
}

@media only screen and (min-width: 1000px) {
  .header {
    background-color: #222222;
    padding-top: 5.5em;
  }
  .header__nav {
    position: absolute;
    background-color: white;
    left: 10%;
    width: 80%;
    top: 5%;
  }
  .header__nav__links {
    left: 10%;
    width: 80%;
    top: 14%;
  }
  .header__nav__logo {
    font-size: 20px;
  }
  .header__nav__icons {
    margin-right: 4em;
    gap: 2em;
  }
  .header__nav__icons img {
    border: 1px solid black;
    padding: 10px;
  }
  .header__nav--title {
    font-size: 20px;
    text-transform: uppercase;
  }
  .header__nav--title h1 {
    font-size: 20px;
  }
  .header__content {
    padding: 10em 20em;
  }
  .header__content h1 {
    font-family: Old Standard TT;
    font-size: 120px;
    font-weight: 400;
    line-height: 130px;
    letter-spacing: -3.5999999046px;
    text-align: left;
    width: 60%;
  }
  .header__content__buttons {
    display: flex;
    width: 45%;
  }
  .header__content__buttons .button {
    padding: 20px 30px;
    margin: 0;
  }
  .header__content__buttons .button.veige {
    margin-right: 2em;
  }
  .header__form {
    display: flex;
    padding: 3em 20em;
    padding-right: 15em;
  }
  .header__form div {
    width: 100%;
    padding-right: 2em;
  }
  .header__form .button {
    padding: 10px 0px;
    width: 100%;
    margin: 1em 0;
    margin-left: 10em;
  }
}
.about {
  padding: 30px 20px;
}
.about--subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: #777777;
  margin-bottom: 30px;
}
.about--title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 20px;
}
.about--text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 24px;
  text-align: justify;
}
.about--button {
  background-color: #BDAC8D;
  color: white;
  font-weight: 700;
  font-size: 14px;
  padding: 20px 50px;
  letter-spacing: 3px;
  border: none;
}
.about__content {
  margin: 0 40px;
  margin-top: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.about__content__image {
  background-color: #E4E4E4;
  width: 100%;
  height: 300px;
}
.about__content__text {
  text-align: center;
  padding-top: 40px;
}
.about__content__text.second {
  background-color: #222222;
  color: white;
}
.about__content__text h1 {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  font-weight: 400;
  margin: 30px 0;
}
.about__content__text p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
  text-align: center;
  padding: 0 25px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 1000px) {
  .about {
    display: flex;
    flex-direction: row-reverse;
    padding: 5em 15em;
  }
  .about .query {
    width: 70%;
    padding: 5em 10em;
    padding-left: 5em;
  }
  .about__content {
    margin: 0 1em;
    box-shadow: none;
    display: flex;
    flex-direction: column-reverse;
  }
  .about__content.second {
    display: block;
  }
  .about__content__image {
    height: 350px;
    margin-bottom: 2em;
  }
  .about__content__image.second {
    margin-top: 2em;
    height: 300px;
    margin-bottom: auto;
  }
  .about__content__text {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
}
.rooms {
  text-align: center;
  font-family: "Old Standard TT", serif;
  position: relative;
}
.rooms--subtitle {
  font-family: "Archivo", sans-serif;
  color: #777777;
  font-size: 14px;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.rooms--title {
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  color: #222222;
  margin-bottom: 1em;
}
.rooms__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  background-color: white;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px 20px;
  z-index: 32;
}
.rooms__icons img {
  font-size: 15px;
}
.rooms__images {
  height: 250px;
  width: auto;
  background-color: #E5E5E5;
}
.rooms .swiper-button-prev,
.rooms .swiper-button-next {
  background-color: white;
  color: black;
  padding: 30px 20px;
}
.rooms .room__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.rooms .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rooms__info {
  position: absolute;
  margin: 0 20px;
  padding: 0 20px;
  bottom: -45%;
  background-color: white;
  z-index: 2;
  bottom: -40%;
}
.rooms__info--title2 {
  font-weight: 400;
  font-size: 28px;
  margin-top: 25px;
}
.rooms__info--text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #777777;
  margin: 20px 0;
}
.rooms__info--price {
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
  font-family: "Archivo", sans-serif;
  color: #BEAD8E;
}
.rooms__info--price span {
  font-size: 13px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .rooms__icons {
    width: 20%;
    top: 22%;
  }
  .rooms__icons img {
    width: 5%;
    height: 5%;
  }
  .rooms__images {
    width: 50%;
    margin: 0 auto;
    height: 500px;
  }
  .rooms__images .button {
    top: 30%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
  }
  .rooms__images .button.left {
    left: 20%;
  }
  .rooms__images .button.right {
    right: 20%;
  }
  .rooms__info {
    display: flex;
    position: static;
    margin: 0 auto;
    margin-top: -100px;
    width: 40%;
    padding: 20px;
  }
  .rooms__info--text {
    text-align: left;
  }
  .rooms__info h2 {
    align-content: center;
    margin-left: 2em;
    margin-right: 1em;
  }
  .rooms__info .query {
    text-align: left;
  }
}
.video {
  background-color: #222222;
  padding: 0 20px;
  font-family: "Archivo", sans-serif;
  color: white;
  margin-top: 65%;
  text-align: left;
}
.video--subtitle {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.7999999523px;
  color: #BDAC8D;
  padding-top: 4em;
  padding-bottom: 2.5em;
}
.video--title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  margin-bottom: 0.5em;
}
.video--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #C2C2C2;
  margin-bottom: 2em;
}
.video--content {
  height: 300px;
  width: 100%;
  background-color: #E6E6E6;
  margin-bottom: 2em;
}
.video--button {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.7999999523px;
  color: white;
  background-color: #BDAC8D;
  padding: 20px 50px;
  margin-bottom: 3em;
}
.video--button.query {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .video {
    margin-top: 4em;
    display: flex;
    padding: 5em 20em;
  }
  .video .query {
    padding-right: 7em;
  }
  .video--content {
    height: auto;
  }
  .video--button {
    display: none;
  }
  .video--button.query {
    display: block;
  }
}
.facilities {
  font-family: "Old Standard TT", serif;
  text-align: center;
}
.facilities .query__content.block {
  display: none;
}
.facilities--subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  color: #777777;
  margin-top: 5em;
  margin-bottom: 2em;
}
.facilities--title {
  font-family: Old Standard TT;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
}
.facilities__number {
  position: relative;
  font-family: "Archivo", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 130px;
  text-align: right;
  color: rgba(34, 34, 34, 0.0392156863);
  padding: 0.5em 30px;
  padding-bottom: 0.8em;
}
.facilities__number--img {
  position: absolute;
  left: 10%;
  bottom: 50px;
}
.facilities--title2 {
  font-family: Old Standard TT;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #222222;
  padding: 0 30px;
  margin-bottom: 1em;
}
.facilities--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-family: "Archivo", sans-serif;
  color: #777777;
  padding: 0 30px;
  padding-right: 60px;
  margin-bottom: 3em;
}
.facilities__dots {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10em;
  position: relative;
}
.facilities__dots--dot {
  height: 10px;
  width: 10px;
  background-color: #EDEDED;
  border-radius: 50%;
}
.facilities__dots--dot.color {
  background-color: #BEAD8E;
}

@media screen and (min-width: 1000px) {
  .facilities {
    padding: 5em 20em;
  }
  .facilities__dots {
    display: none;
  }
  .query {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .query__content {
    width: 30%;
  }
  .query__content.block {
    display: block !important;
  }
}
.menu {
  font-family: "Old Standard TT", serif;
  position: relative;
  padding: 0 20px;
}
.menu--donut {
  position: absolute;
  right: 0;
  top: -100px;
}
.menu--subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
  margin-bottom: 1em;
}
.menu--title {
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: #222222;
  margin-bottom: 0.5em;
}
.menu__item {
  display: flex;
  margin-bottom: 1em;
}
.menu__item--image {
  height: auto;
  width: 300px;
  background-color: #DBDBDB;
}
.menu__item__content {
  padding-left: 30px;
}
.menu__item__content--title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #222222;
  margin-bottom: 0.5em;
}
.menu__item__content--text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.menu__buttons {
  text-align: end;
  margin-bottom: 5em;
  margin-top: 2em;
}
.menu__buttons.queryButtons {
  display: none;
}
.menu__buttons .button {
  padding: 10px 15px;
  background-color: #F8F8F8;
  border: none;
  outline: none;
  font-size: 20px;
}
.menu__buttons .button.right {
  color: white;
  margin-left: 10px;
  background-color: #BEAD8E;
}
.menu__image {
  height: 350px;
  width: 100%;
  background-color: #EDEDED;
}
.menu__image.queryimage {
  display: none;
}
.menu__dots {
  margin: 2em 0;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.menu__dots--dot {
  height: 10px;
  width: 10px;
  background-color: #EDEDED;
  border-radius: 50%;
}
.menu__dots--dot.active {
  background-color: #BEAD8E;
}

@media screen and (min-width: 1000px) {
  .menu {
    padding: 5em 20em;
  }
  .menu__dots {
    display: none;
  }
  .menu .query__img {
    display: flex;
  }
  .menu__image {
    margin: 1em 1em;
    margin-top: 3em;
  }
  .menu__image.queryimage {
    display: block;
  }
  .menu--donut {
    top: 0;
    left: 5%;
    width: 10%;
    content: url("../../images/donutquery.svg");
  }
  .menu__buttons {
    text-align: end;
    margin-bottom: 5em;
    margin-top: 2em;
    display: none;
  }
  .menu__buttons.queryButtons {
    display: block;
    margin-bottom: 1em;
  }
  .menu__buttons.queryButtons .button {
    padding: 20px 30px;
  }
  .menu .query {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu .menu__item {
    width: 50%;
    margin-bottom: 3em;
  }
  .menu .menu__item--image {
    width: 130px;
    height: auto;
  }
  .menu .menu__item__content {
    width: 50%;
    height: 100px;
    align-content: center;
  }
}
.data {
  font-family: "Roboto", sans-serif;
  background-color: #222222;
  color: white;
  text-align: center;
  padding: 1em 0;
}
.data__item {
  padding: 2em 0;
}
.data__item--title {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.data__item--title span {
  font-size: 16px;
}
.data__item--subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 21.82px;
  text-align: center;
  color: #C2C2C2;
}

@media screen and (min-width: 1000px) {
  .data {
    display: flex;
    justify-content: space-around;
    margin: 0 20em;
  }
}
.footer {
  margin-top: 4em;
  font-family: "Archivo", sans-serif;
  padding: 30px 20px;
  padding-bottom: 0;
  background-image: url("../images/Rectángulo 2 1.png");
}
.footer__title {
  display: flex;
  margin-bottom: 2em;
}
.footer__title--H {
  color: white;
  background-color: #BEAD8E;
  padding: 10px 25px;
  font-size: 40px;
  font-weight: 700;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__title--title {
  font-family: Archivo;
  font-size: 26px;
  font-weight: 700;
  line-height: 28.29px;
  letter-spacing: 2.5999999046px;
  text-align: left;
  padding: 10px 0;
  padding-left: 30px;
}
.footer__title--title span {
  font-family: Archivo;
  font-size: 26px;
  font-weight: 400;
  line-height: 28.29px;
  letter-spacing: 2.5999999046px;
}
.footer--text {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #777777;
  margin-bottom: 1em;
}
.footer__icons {
  display: flex;
  padding: 5px;
  gap: 5px;
  margin-bottom: 1em;
}
.footer__icons img {
  padding: 5px;
  background-color: #F8F8F8;
  width: 12%;
}
.footer__icons .X {
  background-color: #BEAD8E;
}
.footer--subtitle {
  color: #222222;
  font-family: "Old Standard TT", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 1em;
}
.footer__list {
  display: flex;
  color: #777777;
  margin-bottom: 1em;
}
.footer__list ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
.footer__contact {
  display: flex;
  gap: 25px;
  margin-bottom: 2em;
  align-items: center;
}
.footer__contact img {
  width: 10%;
  height: 10%;
}
.footer__contact--title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-family: "Old Standard TT", serif;
  color: #222222;
  padding-right: 6.5em;
}
.footer__contact--title.black {
  padding-right: 3em;
}
.footer__contact--title span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #777777;
}
.footer__nav {
  background-color: #F8F8F8;
  padding: 10px;
}
.footer__nav h1 {
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: -0.4799999893px;
  text-align: left;
  color: #222222;
}

@media screen and (min-width: 1000px) {
  .footer {
    padding: 5em 20em;
    display: flex;
    padding-right: 15em;
  }
  .footer__contact {
    margin-bottom: 5em;
    padding-right: 10em;
  }
  .footer__nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 20em;
  }
  .query__list {
    width: 100%;
  }
  .query__ul {
    margin-left: 5em;
  }
  .query__title {
    width: 70%;
    padding-right: 5em;
    margin-right: 7em;
  }
  .query__contact {
    width: 100%;
    margin-left: 5em;
  }
}/*# sourceMappingURL=home.css.map */