.facilities {
    font-family: "Old Standard TT", serif;
    text-align: center;
    background-color: #222222;
    color: white;
    padding-top: 0.1em;

    &--subtitle {
        font-family: "Archivo", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 15.23px;
        letter-spacing: 2.799999952316284px;
        color: #777777;
        margin-bottom: 2em;
        margin-top: 4em;
        color: white;
    }

    &--title {
        font-family: Old Standard TT;
        font-size: 56px;
        font-weight: 400;
        line-height: 60px;
    }

    &__number {
        position: relative;
        font-family: "Archivo", sans-serif;
        font-size: 100px;
        font-weight: 700;
        line-height: 130px;
        text-align: right;
        background-color: #292929;
        color: #222222;
        padding: 10px;
        padding-bottom: 0.3em;
        margin: 0.2em 0.2em;

        &--number {
            margin-bottom: 0.5em;
        }

        &--img {
            position: absolute;
            left: 7%;
            top: 110px;
        }
    }

    &--title2 {
        font-family: Old Standard TT;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #222222;
        margin-bottom: 1em;
        color: white;
        padding: 0 10px;
    }

    &--text {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        font-family: "Archivo", sans-serif;
        color: #777777;
        margin-bottom: 3em;
        color: white;
        padding: 0 10px;
    }

    &__dots {
        height: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5px;
        position: relative;
        padding-bottom: 4em;

        &--dot {
            height: 10px;
            width: 10px;
            background-color: #EDEDED;
            border-radius: 50%;
            background-color: #292929;

            &.color {
                background-color: #BEAD8E;
            }
        }
    }
}